.title {
  text-align: center;
  color: green;
}

table {
  width: 800px;
  border-collapse: collapse;
  margin: 0 auto;
}
th,
td {
  width: 20px;
  height: 80px;
  text-align: center;
  padding: 10px;
  border: 1px;
  font-weight: normal;
}

.sunday {
  color: red;
}
.saturday {
  color: blue;
}
